/* #region style */
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* #endregion stale */

/* -----------------END-------------- */
/* #region section header */
.menu {
  display: none;
}
.contact-menu {
  display: none;
}
.header-navigation {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: #2e2f42;
}
/* #endregion */

/* -----------------END--------------*/
/* #region section hero */
.button-order {
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 72px;
  cursor: pointer;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}
.title {
  max-width: 200px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}
.section-hero {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  padding: 72px 0;
  background-color: rgba(46, 47, 66, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* #endregion */

/* -----------------END-------------- */
/* #region backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;

  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
}
.form-list {
  width: 256px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 34px;
  outline: 0px solid transparent;
}
.review-form-input {
  position: relative;
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.review-form-list {
  margin-bottom: 8px;
}
.form-hint {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.review-list {
  margin-bottom: 16px;
}
.form-comments {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: 0px solid transparent;
  resize: none;
}
.form-comments::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
/* ============ CHECKBOX ============ */
.review-form-checkbox {
  margin-bottom: 24px;
}
.form-label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-checkbox {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.form-input-checkbox:checked + .form-label-checkbox > .form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-icon-clicks-checkbox {
  fill: #f4f4fd;
  opacity: 0;
}
.form-input-checkbox:checked + .form-label-checkbox .form-icon-clicks-checkbox {
  opacity: 1;
}
.form-input-checkbox:focus + .form-label-checkbox > .form-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.paragraph-click-link {
  color: #4d5ae5;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.33em;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 24px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit:hover,
.form-submit:focus {
  background-color: rgba(64, 75, 191, 1);
}
/* #endregion backdrop */

/* -----------------END-------------- */
/* #region section - 2 */

.section-two {
  padding: 96px 0;
}

.section-block {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.icon-list-style {
  display: none;
}

.section-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.text-title {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* #endregion */

/* -----------------END-------------- */
/* #region section -3 */
.section-three {
  padding: 96px 0;
  display: flex;
  background: #f4f4fd;
}

.section-pictures {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
}
.section-three-title {
  color: #2e2f42;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  padding-bottom: 72px;
}
.section-foto {
  background: #fff;
}
.section-list-foto {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-name {
  padding: 32px 0;
}
.name {
  color: #2e2f42;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.type-of-employment {
  color: #434455;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* --------icon------- */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-social {
  width: 40px;
  height: 40px;
}
.our-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  fill: #f4f4fd;
}

.our-social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* -----------------END-------------- */
/* =========== MOBILE STYLE ========== */

/* #region header mobile media */

@media screen and (max-width: 768px) {
  .mobile-menu-open {
    margin-left: auto;
    background-color: transparent;
    border: none;
    line-height: 0;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99999999;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(231, 233, 252, 1);
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
  }
  .mobile-menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #2e2f42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 72px;
    margin-bottom: 168px;
  }

  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .mobile-address-link {
    width: 193px;
    color: #434455;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
  }
  .mobile-address-link:focus {
    color: #4d5ae5;
  }
  .mobile-social-list {
    display: flex;
    gap: 40px;
  }

  .mobile-our-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    background-color: #4d5ae5;
  }
  .mobile-social {
    fill: rgba(244, 244, 253, 1);
  }
  /* #endregion */

  /* --------------END----------- */

  /* #region section hero*/
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office320px.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 768px),
    screen and (min-resolution: 2ddpx) and (max-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 768px) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/people-office@2x.jpg");
    }
  }
  /* #endregion section header */

  /* -------------END-------------- */

  /* #region section - 2 */

  /* #endregion */

  /* --------------END------------- */
}

/* ============ TABLET STYLE =========== */

/* #region header tablet media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-navigation {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu-wrapper {
    display: none;
  }

  .pages-navigation {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    line-height: 0;
    margin-left: 120px;
  }
  .contact-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .link {
    display: flex;
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .link-contact {
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .menu-link {
    position: relative;
    color: #404bbf;
  }
  .menu-link::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  /* #endregion */

  /* ------------------END------------- */

  /* #region section -1 tablet */
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-office.jpg);
    padding: 112px 0;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2ddpx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/tablet-office@2x.jpg");
    }
  }
  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07em;
    margin-left: auto;
    margin-right: auto;
  }
  .button-order {
    margin-top: 36px;
  }
  /* #endregion */

  /* -----------END----------  */

  /* #region section -2 tablet */

  .section-block {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .section-list {
    display: flex;
    width: 356px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  /* #endregion */

  /* ------------END---------- */
  /* #region section - 3 tablet*/
  .section-pictures {
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
  }
  /* #endregion */

  /* -------------END------------ */
  /* #region section -4*/

  /* #endregion */

  /* -----------------END-------------- */
}

/* ========== DESCTOP STYLE =========== */
/* #region header desctop media*/
@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    margin-left: 76px;
  }
  .contact-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .link-contact {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }

  .link:hover,
  .link:focus {
    color: #404bbf;
  }
  .link-contact:hover,
  .link-contact:focus {
    color: #404bbf;
  }
  /* #endregion */

  /* --------------END-------------- */
  /* #region section hero desctop */
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desctop-office.jpg);
    padding: 112px 0;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2ddpx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/descktop-office@2x.jpg");
    }
  }
  .title {
    line-height: 1.5em;
  }
  .button-order {
    margin-top: 48px;
  }
  /* #endregion */

  /* --------------END-------------- */
  /* #region section - 2 */
  .section-two {
    padding: 120px 0;
  }

  .section-list {
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);
  }
  .section-title {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    width: 264px;
  }
  .text-title {
    font-weight: 400;
  }
  .icon-list-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
  .antenna {
    fill: #2e2f42;
  }
  .astronaut {
    fill: #4d5ae5;
  }
  .clock {
    fill: #4d5ae5;
  }
  .diagram {
    fill: #4d5ae5;
  }
  .icon-list {
    margin: 24px 100px;
  }
  /* #endregion */

  /* --------------END------------- */
  /* #region section - 3 */
  .section-three {
    padding: 120px 0;
  }
  .section-three-title {
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .section-foto {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  /* #endregion */

  /* ---------------END------------ */
  /* #region section - 4 */
  
  /* #endregion */
  /* ---------------END-------------*/
}

